<li>
  <a href="#">
    <i class="large material-icons" style="margin: 2px;">
      list
    </i>
    Listar Proyectitos
  </a>
</li>
<li class="divider"></li>
<li>
  <a href="#">
    <i class="large material-icons" style="margin: 2px;">
      add_box
    </i>
    Crear Proyecto
  </a>
</li>