<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Cargando Materilizecss -->
    <link rel="stylesheet" href="/vendor/materializecss/css/materialize.min.css">
    <!-- Cargando Materilizecss -->
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    {{{body}}}
    <!-- Materialize script -->
    <script src="/vendor/materializecss/js/materialize.min.js"></script>
    <!-- Bundle de la App -->
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
